/*
    Justify-content: main-axis
    align-items: cross-axis
    align-content: control space between
*/


/* Header Classes */
.header-list-item {
    justify-content: center !important;
    background-color: 'transparent'; 
}

.header {
    position: initial !important;
}

/* Text Classes */

.centered-text {
    text-align: center;
}

/* Website Class */

.website-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 60vw;
    padding: 2%;
    margin: 3%;
}

.website-header {
    text-align: center;
}

.website-iframe {
    border: 1px solid white;
    width: 100%;
    height: 60%;
}

.portfolio {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 750px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}