/*
    Justify-content: main-axis
    align-items: cross-axis
    align-content: control space between
*/
body {
    margin: 0;

}

.header-list {
    display: flex;
    flex-direction: row;
    background-color: rgba(5,32,14, 0.80);
}

/* Header Classes */
.header-list-item {
    justify-content: center !important;
    background-color: 'transparent'; 
}

.header {
    position: initial !important;
    border-radius: 5px;
}

/* Text Classes */

.centered-text {
    text-align: center;
}

/* Website Class */

.website-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40vw;
    padding-top: 10%;
    margin: 2%;
}

.website-header {
    text-align: center;
    margin-top: 0%;
    margin-bottom: -35%;
}

.website-iframe {
    border: 1px solid white;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
}

.resume-iframe {
    border: 1px solid white;
    width: 200%;
    height: 200%;
}

/* Hide specific elements within the iframe */
iframe::-webkit-pdf-toolbar {
    display: none !important;
}
  
iframe::-webkit-pdf-navpane {
    display: none !important;
}

.portfolio {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.waveScene {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* when mobile do this */
@media screen and (max-width: 750px) {
    .portfolio {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        z-index: 2;
        width: 75%;
        margin-left: 20vw;
        margin-right: 20vw;
    }
    .website-header {
        text-align: center;
        margin-top: 0%;
        margin-bottom: -70%;
    }
    .website-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100vw;
        margin: 2%;
    }
    .header-list {
        display: flex;
        background-color: rgba(5,32,14, 0.80);
        flex-direction: column;
    }
}
